<div *ngIf="!(authors$| async)">loading authors...</div>
 <mat-card>
    <form #authorForm ="ngForm" (ngSubmit)="OnSubmit()">
            <mat-list [(ngModel)]="authorname" name ="authorname" *ngFor="let author of authors$ | async" ngDefaultControl> 
                <span *ngIf="author.id == tempid;else other"></span>
                
                    <!-- {{tempauthor}} -->
            
            <ng-template #other>{{author.name}} </ng-template> 
        </mat-list>
   </form>
</mat-card>

    <!-- add author -->
        <mat-card>
                <h4>New Author</h4>
                <form #addAuthorForm="ngForm" (ngSubmit)="OnSubmit()">
                    <div class="example-container">
                        <mat-form-field>
                            <input matInput placeholder="Author name" [(ngModel)] = "newAuthor"
                                        name = "newAuthor"
                                        required #spy
                                        #temp = "ngModel">
                            <mat-error *ngIf="!(temp.valid || temp.pristine)">
                                    Author is required
                            </mat-error>                        
                        </mat-form-field>
                
                
                    <div >
                        <button mat-raised-button color="primary" [disabled]="!addAuthorForm.form.valid">Add Author</button>
                    </div>
                </div>
            </form>
   </mat-card>