<h2>List Of Books</h2>
    <p *ngIf = "!(books$ | async)">Loading...</p>
    <mat-accordion>
        <mat-expansion-panel *ngFor = "let book of books$  | async">
            <mat-expansion-panel-header>
                    {{book.title}}
            </mat-expansion-panel-header>
                    {{book.author}}
         </mat-expansion-panel>
    </mat-accordion>
